@import 'variables';
@import 'mixins';

$small-color: rgba(black, 0.8);
$small-card-size: 65px !global;

.small-weather-card {
  width: $small-card-size;
  height: $small-card-size;
  background: white;
  color: $small-color;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: $c-box-shadow;

  & > input {
    display: none;
  }

  :checked + label {
    .back {
      display: block;
    }
    .front {
      display: none;
    }
  }
}

.back {
  display: none;
  height: 100%;
  width: 100%;
  .temperature,
  .small-details {
    position: absolute;
    left: 8px;
  }
  .temperature {
    top: 5px;
    color: rgba($small-color, 0.5);
    font-size: $small-card-size /3;
  }
  .small-details {
    z-index: 1;
    color: $small-color;
    font-size: 80%;
    bottom: 10px;
    padding-right: 8px;
    text-align: right;
    .precip {
      padding: 0;
    }
  }
}
.icon {
  color: $small-color;
}
.front {
  font-size: $small-card-size - 15;
  line-height: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
