@import 'variables';
@import 'mixins';

$small-color: rgba(black, 0.8);
$small-card-size: 50px !global;

$small-card-size-larger: 65px;

.small-weather-card {

  color: $small-color;
  position: relative;

  .back,
  .front {
    background: white;
    border-radius: 50%;
    box-shadow: $c-box-shadow;
    overflow: hidden;
    width: $small-card-size;
    height: $small-card-size;
  }
}

.back {
  .temperature,
  .small-details {
    position: absolute;
    left: 8px;
  }
  .temperature {
    top: 5px;
    color: rgba($small-color, 0.5);
    font-size: $small-card-size /3;
  }
  .small-details {
    z-index: 1;
    color: $small-color;
    font-size: 58%;
    bottom: 10px;
    padding-right: 8px;
    text-align: right;
    line-height: 1;
    .precip {
      padding: 0;
    }
  }
}

.icon {
  opacity: 0.8;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 340px) {
  .small-weather-card {

    .back,
    .front {
      width: $small-card-size-larger;
      height: $small-card-size-larger;
    }
  }
  .back {
    .temperature {
      font-size: $small-card-size-larger /3;
    }
    .small-details {

      font-size: 80%;
    }
  }
}
