@import 'variables';
@import 'functions';

html,
body {
  font: {
    family: $body-font;
    size: $base-font-size;
  }
  height: 100%;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2 {
  font-family: $display-font;
  color: $display-color;
}

ul {
  list-style: none;
}

a {
  color: $sun;
  &.logo {
    text-decoration: none;
  }
}

.mdl-layout__content {
  height: 100%;
  padding-bottom: grid-space(3);
}

.page-enter,
.page-leave {
  height: 100%;
  overflow: hidden;
}

.page-enter {
  opacity: 0;
  // transform: translateX(100%);
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  // transform: translateX(0);
  // transition: transform 500ms linear;
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

body {
  background-image: linear-gradient(to bottom, rgba(204, 235, 255, 1) 0%, rgba(204, 232, 255, 1) 19%, rgba(163, 209, 255, 1) 38%, rgba(153, 204, 255, 1) 49%, rgba(107, 168, 229, 1) 51%, rgba(162, 218, 245, 0.35) 83%, rgba(189, 243, 253, 0) 100%);
  background-size: 20vw;
  background-repeat: repeat-x;
}
