:global .flip-card {

  perspective: 1000px;
  cursor: pointer;
  &.flip-card--flipped > .flip-card__flipper {
    transform: rotateY(180deg);
  }

  .flip-card__flipper {
    transition: 0.6s; //  flip speed goes here
    transform-style: preserve-3d;

    position: relative;
  }

  .flip-card__front,
  .flip-card__back {
    backface-visibility: hidden;

    position: absolute;
    // top: 0;
    // left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flip-card__front {
    z-index: 2;
    transform: translate(-50%, -50%) rotateY(0deg); //for firefox 31
  }
  .flip-card__back {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
}
