
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {

  .content {
    max-width: 700px;
  }
}

@media screen and (min-width: 1040px) {

  .content {
    max-width: 1040px;
  }
}
